@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définition des couleurs par défaut */
:root {
  --foreground-rgb: 0, 0, 0; /* Noir pour le texte */
  --background-color: transparent; /* Fond incolore */
}

/* Application des styles au body */
body {
  @apply bg-cream;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
